body {
  background-color: #558298;
  padding: 50px 0px;
}

form {
  background: #f0f0f0;
  padding: 20px;
}

#container {
  width: 400px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.25);
}

#match-container {
  width: 800px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.25);
}

.match-content {
  background: #f0f0f0;
  padding: 10px;
}

.matchButtonContainer {
  margin: 10px;
}

.matchButtonContainer button {
  display: inline-block;
  width: 150px;
  margin: 0 10px 0 0;
}

.matchButtonContainer .submitButton {
  float: right;
  margin-right: 0;
}

h1 {
  background: #1BF279;
  padding: 20px 0;
  font-size: 150%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: 0px;
}

.errorH1 {
  margin: 20px 0px 0px !important;
  background-color: #DA5B29;
  cursor: pointer;
}

.pendingH1 {
  margin: 20px 0px 0px !important;
  background-color: #29DAC1;
  cursor: pointer;
}

.doneH1 {
  margin: 20px 0px 0px !important;
  background-color: #29DA7C;
  cursor: pointer;
}

input[type="text"] {
  width: 100%;
  background: #ffffff;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 95%;
  color: #555;
}

input[type="number"] {
  width: 100%;
  background: #ffffff;
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 95%;
  color: #555;
}

input[type="submit"]{
  width: 100%;
  background: #1BF279;
  border: 0;
  padding: 20px;
  font-size: 100%;
  color: #fff;
  cursor: pointer;
  transition: background .3s;
  -webkit-transition: background .3s;
}

input[type="submit"]:hover{
  background: #3DF49B;
}

button {
  display: inline-block;
  background: #1BF279;
  border: 0;
  padding: 20px;
  font-size: 100%;
  color: #fff;
  cursor: pointer;
  transition: background .3s;
  -webkit-transition: background .3s;
  min-width: 60px;
  margin-top: 20px;
}

button:hover {
  background: #3DF49B;
}

#mainContainer {
  width: 400px;
  margin: 0 auto;
  background: #f0f0f0;
  padding: 20px;
}

.team {
  width: 368px;
  border: solid 1px #BBB;
  padding: 20px;
  display: inline-block;
  margin: 10px;
}

select {
  width: 100%;
  margin-top: 20px;
}

.teamH1 {
  margin: 0px !important;
}
