<div ng-controller="AddPlayerCtrl">
  <div id="container">
    <h1>Create new player</h1>
    <form>
      <input type="text" placeholder="First name" ng-model="firstName" />
      <input type="text" placeholder="Last name" ng-model="lastName" />
      <input type="submit" value="Add new user" ng-disabled="disabled" ng-click="addPlayer()" />
      <h1 class="errorH1" ng-show="formError">First or last name missing!</h1>
      <h1 class="errorH1" ng-show="xhrError">First or last name missing!</h1>
      <h1 class="pendingH1" ng-show="pending">Adding user...</h1>
      <h1 class="doneH1" ng-show="done">Done!</h1>
    </form>
  </div>
</div>
