<div ng-controller="AddPlayerCtrl">
  <div class="mainMenuContainer">
    <button ng-click="openPartial('match')" />New match</button>
    <button ng-click="openPartial('leaderboards')" />Leaderboards</button>
    <button ng-click="openPartial('matches')" />Match history</button>
    <button ng-click="openPartial('addPlayer')" />Add new player</button>
  </div>
  <div id="container">
    <h1>Create new player</h1>
    <form>
      <input type="text" placeholder="Name" ng-model="name" ng-change="resetState()" />
      <input type="submit" value="Add new user" ng-disabled="disabled" ng-click="addPlayer()" />
      <h1 class="errorH1" ng-show="formError" ng-click="resetState()">Name missing!</h1>
      <h1 class="errorH1" ng-show="xhrError" ng-click="resetState()">Error while submitting your name!</h1>
      <h1 class="pendingH1" ng-show="pending" ng-click="resetState()">Adding user...</h1>
      <h1 class="doneH1" ng-show="done" ng-click="resetState()">Done!</h1>
    </form>
  </div>
</div>
