<div ng-controller="LeaderboardsCtrl">
  <div class="mainMenuContainer">
    <button ng-click="openPartial('match')" />New match</button>
    <button ng-click="openPartial('leaderboards')" />Leaderboards</button>
    <button ng-click="openPartial('matches')" />Match history</button>
    <button ng-click="openPartial('addPlayer')" />Add new player</button>
  </div>
  <div id="match-container">
    <h1>Leaderboards</h1>
    <div class="leaderboardButtonContainer">
        <button ng-click="showTeams()">Teams</button>
        <button ng-click="showPlayers()">Players</button>
        <button ng-click="showStatistics()">Statistics</button>
    </div>
    <div class="content-container">
      <table ng-show="teamsVisible">
        <tr>
          <th>Team<br />
            <a href="" ng-click="reverse=!reverse;orderTeam('name1', reverse)">Player 1</a> /
            <a href="" ng-click="reverse=!reverse;orderTeam('name2', reverse)">Player 2</a>
          </th>
          <th><a href="" ng-click="reverse=!reverse;orderTeam('games', reverse)">Games</a></th>
          <th>Goals<br />
            <a href="" ng-click="reverse=!reverse;orderTeam('goalsOwn', reverse)">own</a> /
            <a href="" ng-click="reverse=!reverse;orderTeam('goalsEnemy', reverse)">opp</a>
          </th>
          <th>
            <a href="" ng-click="reverse=!reverse;orderTeam('goalRate', reverse)">Goal rate</a>
          </th>
          <th>Goals per game<br />
            <a href="" ng-click="reverse=!reverse;orderTeam('goalsOwnPerGame', reverse)">own</a> /
            <a href="" ng-click="reverse=!reverse;orderTeam('goalsEnemyPerGame', reverse)">opp</a>
          </th>
          <th>
            <a href="" ng-click="reverse=!reverse;orderTeam('win', reverse)">Win</a> :
            <a href="" ng-click="reverse=!reverse;orderTeam('loss', reverse)">Loss</a>
          </th>
          <!-- <th>Draw</th> -->
          <th><a href="" ng-click="reverse=!reverse;orderTeam('longestKillStreak', reverse)">Longes<br />killstreak</a></th>
          <th><a href="" ng-click="reverse=!reverse;orderTeam('winPct', reverse)">Win rate</a></th>
        </tr>
        <tr ng-repeat="team in teamsArray">
          <td>{{team.name1}} + {{team.name2}}</td>
          <td>{{team.games}}</td>
          <td>{{team.goalsOwn}} : {{team.goalsEnemy}}</td>
          <td>{{team.goalRate | number: 1}}</td>
          <td>{{team.goalsOwnPerGame | number: 1}} : {{team.goalsEnemyPerGame | number: 1}}</td>
          <td>{{team.win}} : {{team.loss}}</td>
          <!-- <td>{{team.draw}}</td> -->
          <td>{{team.longestKillStreak}}</td>
          <td>{{team.winPct | number: 0}} %</td>
        </tr>
      </table>
      <table ng-show="playersVisible">
        <tr>
          <th><a href="" ng-click="reverse=!reverse;order('name', reverse)">Player</a></th>
          <th><a href="" ng-click="reverse=!reverse;order('games', reverse)">Games</a></th>
          <th>Goals<br />
            <a href="" ng-click="reverse=!reverse;order('goalsOwn', reverse)">own</a> /
            <a href="" ng-click="reverse=!reverse;order('goalsEnemy', reverse)">opp</a>
          </th>
          <th>
            <a href="" ng-click="reverse=!reverse;order('goalRate', reverse)">Goal rate</a>
          </th>
          <th>Goal per game<br />
            <a href="" ng-click="reverse=!reverse;order('goalsOwnPerGame', reverse)">own</a> /
            <a href="" ng-click="reverse=!reverse;order('goalsEnemyPerGame', reverse)">opp</a>
          </th>
          <th>
            <a href="" ng-click="reverse=!reverse;order('win', reverse)">Win</a> :
            <a href="" ng-click="reverse=!reverse;order('loss', reverse)">Loss</a>
          </th>
          <!-- <th>Draw</th> -->
          <th><a href="" ng-click="reverse=!reverse;order('longestKillStreak', reverse)">Longes<br />killstreak</a></th>
          <th><a href="" ng-click="reverse=!reverse;order('winPct', reverse)">Win rate</a></th>
        </tr>
        <tr ng-repeat="player in playersArray">
          <td>{{player.name}}</td>
          <td>{{player.games}}</td>
          <td>{{player.goalsOwn}} : {{player.goalsEnemy}}</td>
          <td>{{player.goalRate | number: 1}}</td>
          <td>{{player.goalsOwnPerGame | number: 1}} : {{player.goalsEnemyPerGame | number: 1}}</td>
          <td>{{player.win}} : {{player.loss}}</td>
          <!-- <td>{{player.draw}}</td> -->
          <td>{{player.longestKillStreak}}</td>
          <td>{{player.winPct | number: 0}} %</td>
        </tr>
      </table>
      <table ng-show="statisticsVisible">
        <tr>
          <th colspan="3">Beta!!!</th>
        </tr>
        <tr>
          <td colspan="2" style="padding-left: 20px; text-align: left;">Number of matches</td>
          <td style="padding-right: 20px; text-align: right;">{{statistics.numOfGames}}</td>
        </tr>
        <tr>
          <td colspan="2" style="padding-left: 20px; text-align: left;">Number of goals</td>
          <td style="padding-right: 20px; text-align: right;">{{statistics.numOfGoals}}</td>
        </tr>
        <tr>
          <td style="padding-left: 20px; text-align: left;">Longest killstreak (player) </td>
          <td style="padding-left: 20px; text-align: left;">{{statistics.longestKillStreakPlayerName}}</td>
          <td style="padding-right: 20px; text-align: right;">{{statistics.longestKillStreakPlayer}}</td>
        </tr>
        <tr>
          <td style="padding-left: 20px; text-align: left;">Longest killstreak (team) </td>
          <td style="padding-left: 20px; text-align: left;">{{statistics.longestKillStreakTeamName}}</td>
          <td style="padding-right: 20px; text-align: right;">{{statistics.longestKillStreakTeam}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
