<div ng-controller="MainCtrl">
  <div id="container">
    <h1>What do you want!?</h1>
    <form>
      <input type="submit" value="Add new player" ng-disabled="disabled" ng-click="submit('addPlayer')" />
      <input type="submit" value="New match" ng-disabled="disabled" ng-click="submit('match')" />
      <input type="submit" value="empty" ng-disabled="disabled" ng-click="submit('nowhere')" />
      <input type="submit" value="empty" ng-disabled="disabled" ng-click="submit('nowhere')" />
    </form>
  </div>
</div>
