<div ng-controller="MatchesCtrl">
  <button class="mainMenuButton" ng-click="mainMenu()" />Main</button>
  <div id="match-container">
    <h1>Match history</h1>
    <div class="content-container">
      <table>
        <tr>
          <th>Team one</th>
          <th>Score</th>
          <th>Team two</th>
        </tr>
        <tr ng-repeat="match in matches | orderBy:'date':true">
          <td>{{match.teamOne.playerOne.name}}<br />{{match.teamOne.playerTwo.name}}</td>
          <td>{{match.goalsTeamOne}} : {{match.goalsTeamTwo}}</td>
          <td>{{match.teamTwo.playerOne.name}}<br />{{match.teamTwo.playerTwo.name}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
